p{
    margin-top:0px;
}

.modal-container{
 
    position:fixed;
    background-color:#fff;
    border:1px solid #000;
    left:50%;
    padding:20px;
    padding-top:70px;
    border-radius:5px;
    width:800px;
    max-width:800px;

    -webkit-transform:translate(-50%, -30%);
    -ms-transform:translate(-50%,-30%);
    transform:translate(-50%,-30%);
}

.modal-container input[type="submit"]{
    float:right;
    margin-top:40px;
    margin-right:5px;
}

.modal:before{
    content:"";
    position:fixed;
    background-color:rgba(0,0,0,.6);
    top:0;
    left:0;
    height:100%;
    width:100%;
}



.modalchart-container input[type="submit"]{
    float:right;
}

.modalchart-container{
 
    position:fixed;
    background-color:#fff;
    border:1px solid #000;
    left:50%;
    padding:20px;
    padding-top:70px;
    border-radius:5px;
    width:800px;
    max-width:800px;

    -webkit-transform:translate(-50%, -30%);
    -ms-transform:translate(-50%,-30%);
    transform:translate(-50%,-30%);
}


.modalchart:before{
    content:"";
    position:fixed;
    background-color:rgba(0,0,0,.6);
    top:0;
    left:0;
    height:100%;
    width:100%;
}

