table {
    margin-top:15px;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
    white-space: nowrap;
}

th {
    background: #F3F3F3;
    font-weight: bold;
    padding: 10px 10px;
}

td {
    background: #FAFAFA;
    text-align: center;
    padding: 10px 10px;
}

tr:hover {

}
