<div>
    <h1>Baralhos</h1>

    <form role="form" name="deckForm">

        Descricao:
        <input ng-model="deck.descricao" type="text">

        Dificuldade:
        <input ng-model="deck.dificuldade" type="text">

        Idioma:
        <input ng-model="deck.idioma" type="text">

        <button type="submit" ng-click="cadastrarDeck(deck)"> Cadastrar </button>

    </form>

    <h1>Frases</h1>

    <form role="form" name="wordForm">

        Front:
        <input ng-model="word.front" type="text">

        Back:
        <input ng-model="word.back" type="text">

        Nivel:
        <input ng-model="word.nivel" type="number">

        <button type="submit" ng-click="cadastrarWord(word)"> Cadastrar </button>

    </form>
</div>