<div class="full-form">

    <input type="submit" value="New Deck" id="btnNewDeck">

    <div class="modal" id="divNewDeck" style="display:none">

        <div class="modal-container">

            <form name="deckForm">

                <div class="input-group">
                    <input ng-model="deck.description" type="text">
                    <label>Descricao</label>
                </div>

                <div class="input-group">
                    <input type="text">
                    <label>Dificuldade</label>
                </div>

                <div class="input-group">
                    <input type="text">
                    <label>Idioma</label>
                </div>


                <input type="submit" ng-click="cadastrarDeck(deck)" value="Cadastrar">
                <input type="submit" value="Cancelar" id="btnCancelarDeck">
            </form>
        </div>

    </div>

    <div class="modal" id="divNewWord" style="display:none">

        <div class="modal-container">

            <form name="wordForm">

                <div class="input-group">
                    <input ng-model="word.front" type="text">
                    <label>Front</label>
                </div>

                <div class="input-group">
                    <input ng-model="word.back" type="text">
                    <label>Back</label>
                </div>

                <div>

                    <input type="submit" ng-click="cadastrarWord(word)" value="Adicionar" />
                    <input type="submit" value="Cancelar" id="btnCancelarWord">
                </div>

            </form>

        </div>

    </div>

    <div class="modal" id="divStudy" style="display:none">

        <div class="modal-container">

            <h1>Front>> {{study_wordfront}}</h1>
            <h1 ng-show="showBack == true">Back>>  {{study_wordback}}</h1>

            <input type="submit" value="Cancelar" id="btnCancelarStudy">

            <input type="submit" ng-click="Next()" value="Next" id="btnNext">
            <input ng-click="showBack = true" type="submit" value="I Forgot :(" id="btnShow">



        </div>

    </div>

    <div class="modal" id="divHistory" style="display:none">

        <div class="modal-container">

            <h1>History buddy :)</h1>

            <input type="submit" value="Cancelar" id="btnCancelarHistory">


        </div>

    </div>

    <table class="responsive">


        <thead>
            <tr>
                <th ng-show="false">Id</th>
                <th>description</th>
                <th>Language</th>
                <th>Days</th>
                <th>AmountWord</th>
                <th>AmountStudy</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="x in decks">
                <td ng-show="false">{{x.id}}</td>
                <td>{{x.description}}</td>
                <td>{{x.language}}</td>
                <td>{{x.daysLastStudy}}</td>
                <td>{{x.amountWord}}</td>
                <td>{{x.amountStudy}}</td>
                <td>
                    <button type="submit" id="btnNewWord" ng-click="Study(x)">Estudar</button>
                    <button type="submit" id="btnNewWord" ng-click="AddWord(x)">Add frase</button>
                    <button type="submit" id="btnNewWord" ng-click="History(x)">Historico</button>
                </td>
            </tr>
        </tbody>

    </table>


</div>