<div class="full-form">

    <h1>Usuario</h1>

    <form name="userForm">

        <div class="input-group">
            <input ng-model="user.nome" type="text">
            <label>Nome</label>
        </div>

        <div class="input-group">
            <input ng-model="user.email" type="text">
            <label>Email</label>
        </div>

        <div class="input-group">
            <input ng-model="user.senha" type="password">
            <label>Senha</label>
        </div>

        <input type="submit" ng-click="cadastrarUser(user)" value="Cadastrar " />

    </form>

    <h3>Contato Usuario</h3>

    <form name="contactForm">

        <div class="input-group">
            <input ng-model="contact.descricao" type="text">
            <label>Tipo ex: skype</label>
        </div>

        <div class="input-group">
            <input ng-model="contact.valor" type="text">
            <label>Contato ex: skype name</label>
        </div>

        <input type="submit" ng-click="addContact(contact)" value="Add Contato" />

        <br /><br /><br /><hr /><br />
        <table>


            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Contato</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in contacts">
                    <td>{{x.descricao}}</td>
                    <td>{{x.valor}}</td>

                    <td>
                        <a href="" ng-click="removeContact(x)"> Remover</a>
                    </td>
                </tr>
            </tbody>

        </table>



    </form>
</div>
